# Hello world

## My name is Harshit Salecha

###I am a leaner of Python

#### I am a learner of Python

In [3]:
'''Hello all, my name is harshit salecha 
I'm working in Embibe 
Currently I started learning about Python'''
a=10
b=12
print(a+b)

22

In [4]:
1+3

4

In [12]:
first_name='Harshit'
last_name='Salecha'
print (f"Your name is {first_name+last_name}")

Your name is HarshitSalecha

In [18]:
first_name='Harshit'
last_name='Salecha'
print ("Your name is {} {}".format(first_name, last_name))

Your name is Harshit Salecha

In [19]:
type(first_name)

str

In [25]:
a=1+2j
b=a.imag
print(b)

2.0

In [26]:
bool(0)

False

In [27]:
bool(1)

True

In [28]:
import sys
print(sys.version)

3.10.8 | packaged by conda-forge | (main, Nov 22 2022, 08:26:04) [GCC 10.4.0]

In [32]:
import platform
print(platform.python_version())

3.10.8

In [33]:
import sys
print(sys.version_info)

sys.version_info(major=3, minor=10, micro=8, releaselevel='final', serial=0)

In [ ]:
age=int(input("Entre your age"))
if age>=18 and age<=45:
    print("You are a young blood")
elif age>45:
    print("Sorry, your age is more than age limit")
else:
    print("Sorry, you are not eligible")

In [ ]:
marked_price=int(input("Entre the product price : "))
if marked_price>20000:
    print("Your purchasing price is Rs. {} ".format(marked_price*0.70))
elif marked_price>10000 and marked_price<=20000:
    if marked_price==12999:
        print("Your purchasing price is Rs. {} and you got a earbud of worth of Rs. {}".format(marked_price*0.80,marked_price*0.05))
    print("Your purchasing price is Rs. {}".format(marked_price*0.80))
elif marked_price>5000 and marked_price<=10000:
    if marked_price==8000:
        print("Your purchasing price is Rs. {} and you got a laptop bag worth of Rs. {}".format(marked_price*0.90,marked_price*0.05))
    print("Your purchasing price is Rs. {}".format(marked_price*0.90))
else:
    print("Oh sorry! You are not eligible for any discount so you have to pay full amount of Rs. ",marked_price)

In [1]:
marked_price=int(input("Entre the product price : "))
while marked_price>20000:
    print("Your purchasing price is Rs. {} ".format(marked_price*0.70))
    break
while marked_price>10000 and marked_price<=20000:
    if marked_price==12999:
        print("Your purchasing price is Rs. {} and you got a earbud of worth of Rs. {}".format(marked_price*0.80,marked_price*0.05))
        break
    print("Your purchasing price is Rs. {}".format(marked_price*0.80))
    break
while marked_price>5000 and marked_price<=10000:
    if marked_price==8000:
        print("Your purchasing price is Rs. {} and you got a laptop bag worth of Rs. {}".format(marked_price*0.90,marked_price*0.05))
        break
    print("Your purchasing price is Rs. {}".format(marked_price*0.90))
    break
###else:
    ###print("Oh sorry! You are not eligible for any discount so you have to pay full amount of Rs. ",marked_price)

Entre the product price :  12999

Your purchasing price is Rs. 10399.2 and you got a earbud of worth of Rs. 649.95

In [6]:
friends=["Anshu","Masoom","Naveen","Himanshu","Ankit","Yogesh","Harshit"]
for a in friends:
    if a=="Masoom":
        print("Your person is Masoom")
        print("Age of Masoom is 25 years and he is married")
        print("\n")
    elif a=="Himanshu":
        print("Your person is Himanshu")
        print("Age of Himanshu is 28 years and he is married")
        print("\n")
    elif a=="Yogesh":
        print("Your person is Yogesh")
        print("Age of Yogesh is 28 years and he is married")
        print("")
    else:
        print("")

Your person is Masoom
Age of Masoom is 25 years and he is married



Your person is Himanshu
Age of Himanshu is 28 years and he is married



Your person is Yogesh
Age of Yogesh is 28 years and he is married

In [65]:
a=50
for a in range(10,5,-1):
    print (a)

10
9
8
7
6

In [31]:
for a in range(2,101,2):
    print(a,"\t",end="")

2 	4 	6 	8 	10 	12 	14 	16 	18 	20 	22 	24 	26 	28 	30 	32 	34 	36 	38 	40 	42 	44 	46 	48 	50 	52 	54 	56 	58 	60 	62 	64 	66 	68 	70 	72 	74 	76 	78 	80 	82 	84 	86 	88 	90 	92 	94 	96 	98 	100

In [34]:
## Table for any Number
a=int(input("Entre the number : "))
b=a*11
n=a
for a in range(a,b,n):
    print(a)

Entre the number :  12

12
24
36
48
60
72
84
96
108
120

In [52]:
##Christmas tree
n=5
for a in range (n):
    for b in range (n-a-1):
        print(" ",end="")
    for b in range (2*a+1):
        print("*",end="")
    print ("\r")

    *
   ***
  *****
 *******
*********

In [122]:
##Water image of christmas tree
n=5
y=4
for a in range (n,-1,-1):
    for b in range (n-y-1):
        print(" ",end="")
    for b in range (2*a+1):
        print("*",end="")
    y=y-1
    print("\r")

***********
 *********
  *******
   *****
    ***
     *

In [80]:
n=6
for a in range (n):
    for b in range (2*a+1):
        print("*",end="")
    for b in range (n-2*a):
        print(" ",end="")
    print("\r")

*
***
*****
*******
*********
***********

In [79]:
n=6
for a in range (n):
    print(a)

0
1
2
3
4
5

In [82]:
n=8
for a in range (n,4,-1):
    for b in range (2*a+1):
        print("*",end="")

********************************************************

In [107]:
for a in range(-5):
    print(a)

In [118]:
n=5
for a in range(n):
    for b in range (n-a-1):
        print(" ",end="")
    for b in range (2*a+1):
        print("*",end="")
    print("\r")

    *
   ***
  *****
 *******
*********